
/* img{
    width: 40px;
}
 a{
    color: blanchedalmond;
}
a:hover{
    text-decoration: none;
    color: blanchedalmond;
}

body{
    background: #333;
    color: #fff;

}
.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
} */




